body, div, dl, dt, dd, ul, ol, li, h1, h2, h3, h4, h5, h6, pre, code, form, fieldset, legend, input, button, textarea, p, blockquote, th, td {
	margin: 0;
	padding: 0;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
fieldset, img {
	border: 0;
}
address, caption, cite, code, dfn, em, strong, th, var, optgroup, i {
	font-style: none;
	font-weight: none;
}
del, ins {
	text-decoration: none;
}
li {
	list-style: none;
}
caption, th {
	text-align: left;
}
h1, h2, h3, h4, h5, h6 {
	font-size: 100%;
	font-weight: 700;
}
q:before, q:after {
	content: '';
}
abbr, acronym {
	border: 0;
	font-variant: normal;
}
sup {
	vertical-align: baseline;
}
sub {
	vertical-align: baseline;
}
legend {
	color: #333;
}
input, button, textarea, select, optgroup, option {
	font-family: inherit;
	font-size: inherit;
	font-style: inherit;
	font-weight: inherit;
	outline: none;
}
#header {
	position: relative;
}
body {
	background: #1b1b1b;
	color: #dadada;
	font-family: arial, sans-serif;
	font-size: 14px;
}
#wrapper {
	max-width: 600px;
	margin: 0 auto;
	background: #1b1b1b;
	border: 1px solid #2b2b2b;
}
#container {
	display: block;
	overflow: hidden;
}
#video {
	margin: 0 5px;
}
a {
	text-decoration: none;
	color: #dadada;
}
a:hover {
	color: #fff;
}
li {
	list-style: none;
	margin: 0;
	padding: 0;
}
span.url {
	color: rgba(234, 67, 53, 0.6);
}
span.url:hover {
	color: #ea4335;
}
img {
	max-width: 100%;
}
.clear {
	clear: both;
}
.clr {
	clear: both;
}
.hidden {
	display: none !important;
}
.notice {
	line-height: 1.5em;
	display: inline-block;
	background: #2b2b2b;
	margin-bottom: 5px;
	padding: 5px;
}
#notice {
	background: #2b2b2b;
	margin: 5px;
	padding: 5px;
	line-height: 1.5em;
}
.status {
	background: #2b2b2b;
	margin-top: 5px;
	padding: 5px;
	line-height: 1.5em;
}
.SC_TBlock {
	background: #2b2b2b;
	text-align: center;
	margin-top: 4px;
	padding: 5px;
	line-height: 1.5em;
}
.ads {
	position: relative;
	background: #2b2b2b;
	margin: 5px 0;
	padding: 5px 0 3px;
	text-align: center;
}
#ads {
	position: relative;
	background: #2b2b2b;
	margin-top: 5px;
	padding: 5px 0 3px;
	text-align: center;
}
#top {
	max-width: 600px;
	margin: 0 auto;
	background: #1b1b1b;
	border-bottom: 2px solid #2b2b2b;
}
#logo {
	text-align: center;
	border-bottom: 2px solid #2b2b2b;
	padding: 10px 5px 5px;
	margin: 0 5px 5px;
	opacity: .8;
}
#logo:hover {
	opacity: 1;
}
span.icon {
	display: inline-flex;
}
.icon-home:before {
	content: '';
	background-image: url(../img/icon-home.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 2px;
	background-repeat: no-repeat;
	display: inline-flex;
}
.icon-verify:before {
	content: '';
	background-image: url(../img/icon-verify.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	background-repeat: no-repeat;
	margin-right: 3px;
}
.icon-subtitles:before {
	content: '';
	background-image: url(../img/icon-subtitles.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	background-repeat: no-repeat;
	margin-right: 3px;
}
.icon-heart:before {
	content: '';
	background-image: url(../img/icon-heart.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	background-repeat: no-repeat;
	margin-right: 3px;
}
.icon-thumbs-up:before {
	content: '';
	background-image: url(../img/icon-thumbs-up.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-top: -1px;
	background-repeat: no-repeat;
	margin-right: 3px;
}
.icon-views:before {
	content: '';
	background-image: url(../img/icon-views.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	background-repeat: no-repeat;
	margin-right: 3px;
}
.icon-ranking:before {
	content: '';
	background-image: url(../img/icon-ranking.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 3px;
	background-repeat: no-repeat;
}
.icon-fire:before {
	content: '';
	background-image: url(../img/icon-fire.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 1px;
	background-repeat: no-repeat;
}
.icon-hashtag:before {
	content: '';
	background-image: url(../img/icon-hashtag.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 3px;
	background-repeat: no-repeat;
}
.icon-eye-off:before {
	content: '';
	background-image: url(../img/icon-eye-off.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 2px;
	background-repeat: no-repeat;
	display: inline-flex;
}
.icon-student:before {
	content: '';
	background-image: url(../img/icon-student.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 2px;
	background-repeat: no-repeat;
	display: inline-flex;
}
.icon-heartbreak:before {
	content: '';
	background-image: url(../img/icon-heartbreak.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 2px;
	background-repeat: no-repeat;
	display: inline-flex;
}
.icon-xvideos:before {
	content: '';
	background-image: url(../img/icon-xvideos.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 3px;
	background-repeat: no-repeat;
}
.icon-phim69:before {
	content: '';
	background-image: url(../img/icon-phim69.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 3px;
	background-repeat: no-repeat;
}
.icon-youtube:before {
	content: '';
	background-image: url(../img/icon-youtube.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 3px;
	background-repeat: no-repeat;
}
.icon-xnxx:before {
	content: '';
	background-image: url(../img/icon-xnxx.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 3px;
	background-repeat: no-repeat;
}
.icon-japan:before {
	content: '';
	background-image: url(../img/icon-japan.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 3px;
	background-repeat: no-repeat;
}
.icon-usa:before {
	content: '';
	background-image: url(../img/icon-usa.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 3px;
	background-repeat: no-repeat;
}
.icon-vietnam:before {
	content: '';
	background-image: url(../img/icon-vietnam.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 3px;
	background-repeat: no-repeat;
}
.icon-international:before {
	content: '';
	background-image: url(../img/icon-international.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-right: 3px;
	background-repeat: no-repeat;
}
#primary-nav {
	position: relative;
	font-size: 14px;
	font-weight: 400;
	margin: 0 5px;
	border-bottom: 2px solid #2b2b2b;
	overflow: hidden;
}
#primary-nav .menu {
	height: 40px;
	border: 0;
	background: 0;
	box-shadow: none;
}
#primary-nav .menu a {
	float: left;
	display: inline-flex;
	background: #2b2b2b;
	margin: 0 5px 5px 0;
	padding: 5px 10px;
	color: #dadada;
	border-radius: 4px;
	text-align: center;
}
#primary-nav .menu a:hover {
	color: #fff;
}
#secondary-nav {
	position: relative;
	overflow: hidden;
}
#secondary-nav .menu2 {
	font-size: 14px;
}
#secondary-nav .menu2 a {
	display: inline-flex;
	font-size: 14px;
	font-weight: 400;
	background: #2b2b2b;
	float: left;
	margin: 5px 0 0 5px;
	padding: 5px;
	border-radius: 4px;
	text-align: center;
}
#secondary-nav .menu2 a:hover {
	color: #fff;
}
#search-box {
	padding: 5px;
}
.search {
	width: 100%;
	border: 1px solid #2b2b2b;
	display: flex;
	overflow: hidden;
}
span.icon-search {
	display: inline-flex;
	background: #1b1b1b;
	padding: 0.3rem;
	margin-top: 1px;
	color: #dadada;
	opacity: .6;
}
span.icon-search:before{
	content: '';
	background-image: url(../img/icon-search.svg);
	width: 14px;
	height: 14px;
	background-size: 14px;
	background-repeat: no-repeat;
}
.search .searchTxt {
	width: 100%;
	background: #1b1b1b;
	padding: 5px;
	color: #dadada;
	font-size: 14px;
	outline: 0;
	border: 0;
	border-collapse: separate;
	-webkit-appearance: none;
}
.search .searchBtn {
    background: rgba(234,67,53,.6);
    color: #dadada;
    border-left: 1px solid #2b2b2b !important;
    outline: 0;
    border: 0;
	border-radius: 0;
    float: left;
    font-size: 14px;
    padding: 5px;
    cursor: pointer;
    -webkit-appearance: none;
}
.search .searchBtn:hover {
	background: rgba(234,67,53,1);
}
.category-info {
	background: #2b2b2b;
	margin: 0 5px;
	padding: 5px;
	font-size: 14px;
	line-height: 1.5;
	border-radius: 4px;
}
#page-title {
	text-transform: uppercase;
	display: block;
}
.breadcrumb {
	font-size: 16px;
	font-weight: 400;
	margin: 5px;
	border-bottom: 2px solid #2b2b2b;
}
.breadcrumb span a {
	color: #dadada;
}
.breadcrumb span a:hover {
	color: #fff;
	text-decoration: none;
}
.breadcrumb.video-title {
	font-size: 16px;
	font-weight: 400;
	margin: 5px;
	padding: 5px;
	text-transform: none;
	border-bottom: 2px solid #2b2b2b;
	padding-left: 5px;
	border-left: 3px solid #ea4335;
}
.box {
	margin: 0;
}
.video-box {
	display: block;
}
#content {
	display: block;
}
#video-list {
	display: block;
}
.video-item {
	position: relative;
	display: block;
	overflow: hidden;
}
.ribbon {
	font-size: .9em;
	position: absolute;
	top: 0;
	border-left: 3px solid #ea4335;
	border-radius: 0 4px 4px 0;
	background: none repeat scroll 0 0 rgba(17,17,17,.6);
	padding: 2px 4px;
	margin-top: 2px;
	margin-left: 7px;
	color: #fff;
}
.video-name {
	line-height: 1.5;
	font-size: 15px;
	font-weight: 400;
	height: 45px !important;
	max-height: 45px !important;
	margin-bottom: 15px;
	margin-left: 5px;
	display: -webkit-box;
	overflow: hidden;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	white-space: normal;
	-webkit-box-orient: vertical;
	float: left;
}
.video-rank {
	font-size: .9em;
	position: absolute;
	top: 0;
	border-left: 3px solid #ea4335;
	border-radius: 0 4px 4px 0;
	background: none repeat scroll 0 0 rgba(17,17,17,.6);
	margin-top: 2px;
	padding: 2px 4px;
	margin-left: 7px;
	color: #fff;
}
.video-image {
	float: left;
	width: calc(100% - 10px);
	margin-left: 5px;
	border-radius: 4px;
}
.video-player {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
}
.play-video .video .video-item {
	padding: 5px 10px 10px;
}
.video-content {
	display: block;
}
.video-description {
	display: block;
	font-size: 14px;
	line-height: 1.5;
	word-wrap: break-word;
}
.video-stats {
	display: inline-block;
}
#video-actions {
	margin-top: 5px;
	display: block;
	font-weight: 400;
}
#video-actions ul {
	margin-top: 0;
}
#video-actions .video-server {
	cursor: pointer;
	padding: 5px 10px;
	margin-bottom: 5px;
	border-radius: 4px;
	display: inline-flex;
}
#video-actions .video-server:hover {
	background: #ea4335;
	color: #fff;
}
#video-actions .likes {
	cursor: pointer;
	background: #2b2b2b;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 4px;
	display: inline-flex;
}
#video-actions .dislikes {
	cursor: pointer;
	background: #2b2b2b;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 4px;
	display: inline-flex;
}
#video-actions .likes:hover, #video-actions .dislikes:hover {
	color: #fff;
}
#video-actions .rating {
	cursor: pointer;
	background: #2b2b2b;
	padding: 5px;
	border-radius: 4px;
	display: inline-flex;
}
#video-note {
	background: #2b2b2b;
	padding: 5px;
	border-radius: 4px;
	display: inline-block;
}
.video-info {
	display: inline-flex;
	margin-bottom: 5px;
}
.video-code {
	font-size: 14px;
	padding: 5px;
	background: #2b2b2b;
	color: #dadada;
	white-space: nowrap;
	margin-right: 5px;
	border-radius: 4px;
}
.video-code:hover {
	color: #fff;
}
.video-link {
	display: inline-block;
	background: #2b2b2b;
	color: #ea4335;
	font-size: 14px;
	padding: 5px;
	white-space: nowrap;
	border-radius: 4px;
}
.video-link:hover {
	color: #cf2415;
}
span.likes:after {
	content: '';
	background-image: url(../img/icon-like.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	background-repeat: no-repeat;
	margin-left: 3px;
}
span.likes.active:after {
	background-image: url(../img/icon-liked.svg);
}
span.dislikes:after {
	content: '';
	background-image: url(../img/icon-dislike.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	background-repeat: no-repeat;
	margin-left: 3px;
}
span.dislikes.active:after {
	background-image: url(../img/icon-disliked.svg);
}
span.rating:after {
	content: '';
	background-image: url(../img/icon-heart.svg);
	width: 16px;
	height: 16px;
	background-size: 16px;
	background-repeat: no-repeat;
	margin-left: 3px;
}
span.likes-rank {
	display: inline-flex;
}
span.likes-rank:after {
	content: '';
	background-image: url(../img/icon-like.svg);
	width: 14px;
	height: 14px;
	background-size: 14px;
	background-repeat: no-repeat;
	margin-left: 3px;
	margin-top: -1px;
}
span.views-rank {
	display: inline-flex;
}
span.views-rank:after {
	content: '';
	background-image: url(../img/icon-views.svg);
	width: 14px;
	height: 14px;
	background-size: 14px;
	background-repeat: no-repeat;
	margin-left: 3px;
}
span.views {
	cursor: pointer;
	background: #2b2b2b;
	margin-bottom: 5px;
	padding: 5px;
	border-radius: 4px;
	display: inline-flex;
}
span.views:after {
	content: '';
	background: url(../img/icon-views.svg) no-repeat;
	display: block;
	width: 16px;
	height: 16px;
	background-size: 16px;
	margin-left: 3px;
}
.type-list {
	cursor: pointer;
	margin-left: 5px;
}
.type-list ul {
	margin-top: 0;
}
.type-list .type-video {
	margin-bottom: 5px;
	padding: 8px;
	display: inline-block;
}
.type-list .type-video:hover {
	color: #fff;
}
.bt_normal {
	background: #2b2b2b;
	color: #dadada;
}
.bt_active {
	background: #ea4335;
	color: #fff;
}
#download {
	text-align: center;
}
.download-button {
	cursor: pointer;
	display: inline-flex;
}
.download {
	width: 16px;
	background: #2b2b2b;
	color: #dadada;
	padding: 5px 10px;
}
.download:hover {
	background: #ea4335;
	color: #fff;
}
a.download:before {
	content: '';
	position: absolute;
	background: url(../img/dl.svg) no-repeat;
	width: 25px;
	height: 14px;
	background-size: 16px;
	background-repeat: no-repeat;
}
.quality {
	background: #2b2b2b;
	color: #dadada;
	border: 1px solid #2b2b2b;
	padding: 4px 5px;
	font-size: 15px;
	cursor: pointer;
	margin-right: 10px;
}
.quality:hover {
	background: #ea4335;
	color: #fff;
	border: 1px solid #2b2b2b;
}
.video-tags {
	display: inline-block;
	list-style-type: none;
	margin-bottom: 5px;
	width: 100%;
	font-weight: 400;
}
.category-tag a {
	display: inline-flex;
	font-size: 14px;
	padding: 5px;
	margin-top: 5px;
	white-space: nowrap;
	border-radius: 4px;
	background: #2b2b2b;
}
.category-tag a:before {
	content: '';
    background-image: url(../img/icon-hashtag.svg);
    background-size: 16px;
    width: 16px;
    margin-right: 3px;
    background-repeat: no-repeat;
}
.category-tag a:hover {
	background-color: #ea4335;
	color: #fff;
}
.actress-tag {
	list-style-type: none;
	margin: 0;
}
.actress-tag a {
	display: inline-flex;
	font-size: 14px;
	padding: 5px;
	margin-top: 5px;
	white-space: nowrap;
	background: #2b2b2b;
	border-radius: 0 4px 4px 0;
	border-left: 3px solid #ff9900;
}
.actress-tag a:hover {
	background-color: #ea4335;
	color: #fff;
}
.search-history {
	list-style-type: none;
	margin: 5px 0;
	overflow: hidden;
}
.search-history a {
	display: inline-block;
	font-size: 14px;
	padding: 5px 10px;
	margin-bottom: 5px;
	margin-left: 5px;
	white-space: nowrap;
	background: #2b2b2b;
	border-radius: 4px;
}
.search-history a:hover {
	background-color: #ea4335;
	color: #fff;
}

.web-link {
	list-style-type: none;
	overflow: hidden;
}
.web-link a {
	display: inline-block;
	font-size: 14px;
	padding: 5px 10px;
	margin-left: 5px;
	white-space: nowrap;
	background: #2b2b2b;
	border-radius: 4px;
}
.web-link a:hover {
	background-color: #ea4335;
	color: #fff;
}


.textFilter {
	list-style-type: none;
	text-transform: uppercase;
	margin: 0 5px 5px;
	overflow: hidden;
}
.textFilter a {
	display: inline-block;
	font-size: 14px;
	padding: 5px;
	margin-top: 5px;
	white-space: nowrap;
	border-radius: 4px;
	background: #2b2b2b;
}
.textFilter a:hover {
	background-color: #ea4335;
	color: #fff;
}
.loadPage .active {
	background-color: #ea4335;
	color: #fff;
}
.note {
	background: #2b2b2b;
	margin: 5px;
	padding: 5px;
	line-height: 1.5em;
}
.pagenavi {
	clear: both;
	margin-bottom: 5px;
	text-align: center;
}
.pagenavi a {
	border: 1px solid #dadada;
	padding: 5px 15px;
	margin-right: 5px;
	margin-bottom: 5px;
	border-radius: 4px;
	display: inline-block;
}
.pagenavi a.active {
	color: #dadada;
	background: rgba(234, 67, 53, 0.8);
}
footer {
	display: grid;
}
.footer-wrap {
	font-size: 14px;
	font-weight: 400;
	margin: 5px;
	background: #1b1b1b;
	line-height: 1.5em;
	border-top: 2px solid #2b2b2b;
}
.intrinsic-container {
	position: relative;
	height: 0;
	overflow: hidden;
}
.intrinsic-container-16x9 {
	padding-bottom: 56.25%;
}
.intrinsic-container iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
#vlxx.jw-error {
	height: 56.25% !important;
}
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-rewind.jw-icon-next {
	display: none !important;
}
.jw-toggle.jw-off {
	color: #d8d8d8;
}
.jw-controlbar.jw-background-color.jw-reset {
	background: linear-gradient(180deg, transparent, rgba(0, 0, 0, .25) 30%, rgba(0, 0, 0, .4) 70%, rgba(0, 0, 0, .5));
}
.jw-rightclick {
	display: none !important;
}
.jw-flag-small-player .jw-nextup-container .jw-nextup {
	display: none !important;
}
.jw-flag-small-player .jw-nextup-container {
	display: none !important;
}
.jw-icon.jw-icon-rewind.jw-button-color.jw-reset {
	visibility: hidden;
}
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-rewind {
	display: none !important;
}
.jw-logo.jw-logo-top-right.jw-reset {
	width: 100px !important;
	height: 24px !important;
	top: -15px !important;
	right: -15px !important;
}
.jw-icon.jw-icon-inline.jw-button-color.jw-reset.jw-icon-pip {
	display: none !important;
}
.jw-icon-cc {
	display: none !important;
}
@media only screen and (max-width:479.98px) {
	.video-item {
		width: 50%;
		float: left;
   }
}
@media only screen and (min-width:480px) {
	.video-item {
		width: 33.3333333%;
		float: left;
   }
}
@media only screen and (max-width:299.98px) {
	#adx {
		display: none !important;
   }
}
.jw-logo.jw-logo-top-right.jw-reset {
	width: 100px !important;
	height: 28px !important;
}
